

#header {
  background-color: dimgrey;
}

img {
  float: left;
  padding: 18px;
}

.head_text {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 36px;
  padding: 18px;
  color: white;
}

p {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: Bold;
}

.button{
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 6px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.button1{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover{
  background-color: #4CAF50;
  color: white;
}

.center {
  align-items: center;
  justify-content: center;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

input[type = email] {
  width: 100%;
  padding: 10px 18px;
  margin: 10px 0;
  background-color: whitesmoke;
  display: inline-block;
  border: 2px solid blue;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 20px;
}

select {
  width: 100%;
  padding: 10px 18px;
  margin: 10px 0;
  background-color: whitesmoke;
  display: inline-block;
  border: 2px solid blue;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 20px;
}




.container {
  width: 100%;
  display: flex;
}

.form {
  width: 50%;
}

.score_error {
  width: 50%;
}

.score {
  align-content: center;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  text-align: center;
  padding-top: 125px;
  margin-left: 280px;
  background-color: #282828;
  color: white;
  font-size: 70px;
}

.error {
  color: red;
  font-size: 30px;
}

#error_cent {
  text-align: center;
}

