{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Python Grader</title>
    <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet">
    <script src="{% static 'codemirror-5.60.0/lib/codemirror.js' %}"></script>
    <link href="{% static 'codemirror-5.60.0/lib/codemirror.css' %}" rel="stylesheet">
    <script src="{% static 'codemirror-5.60.0/mode/python/python.js' %}"></script>
    <script src="{% static 'codemirror-5.60.0/addon/edit/closebrackets.js' %}"></script>
    <script src="{% static 'codemirror-5.60.0/addon/edit/matchbrackets.js' %}"></script>
    <script src="{% static 'codemirror-5.60.0/addon/comment/comment.js' %}"></script>
    <link href="{% static 'codemirror-5.60.0/theme/neat.css' %}" rel="stylesheet">
    <link href="{% static 'codemirror-5.60.0/theme/blackboard.css' %}" rel="stylesheet">
    <link href="{% static 'codemirror-5.60.0/theme/liquibyte.css' %}" rel="stylesheet">
    <link href="{% static 'codemirror-5.60.0/theme/panda-syntax.css' %}" rel="stylesheet">
</head>

<body>
<div id="header">
    <img src="{% static 'images/linuxjobber.png' %}">
    <h1 class="head_text">Python Grader for Practical Labs</h1>
</div>
<p>Write you code in the editor box below then click run to test your code before clicking the submit button </p>
<div class="container">
<div class="form">
    <form method="post" action="{% url 'index' %}" id="code-form" name="code">
        {% csrf_token %}
        <textarea id="editor" form="code-form" name="code"></textarea>
        {{ form.as_p }}
        <button id="submit" type="submit" class="button button2" value="Submit">Submit</button>
    </form>
</div>
{#    <p id="score">Score: {{ score }}</p>#}
<div class="score_error">
<textarea class="score">{{ score }}&#37;</textarea>
{#<p>Errors:</p>#}
{% for error in errors %}
    <p id="error_cent"><span class="error">{{ error }}</span></p>
{% endfor %}
</div>
</div>
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>